<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper kanban">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <h1>Tareas</h1>
        </div>
        <div class="col-sm-6 d-none d-sm-block">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Tareas</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <section class="content pb-3">
    <div class="container-fluid h-100" >
      <div class="card card-row card-secondary" style="height: 350px;">
        <div class="card-header">
          <h3 class="card-title">
            Lista de Tareas
          </h3>
        </div>
        <div class="card-body">
          @if(lista_tareas.length > 0) {
            @for(item of lista_tareas; track item.id) {
              
              <div class="card card-light card-outline">
                <div class="card-header">
                  <h5 class="card-title">{{item.title}}</h5>
                  <div class="card-tools">
                    <a href="#" class="btn btn-tool btn-link">#{{item.id}}</a>
                    <a href="#" class="btn btn-tool">
                      <i class="fas fa-pen"></i>
                    </a>
                  </div>
                </div>
                <div class="card-body">
                  <p>
                    {{item.subtitle}}
                  </p>
                </div>
              </div>
            }
          }
          <!--
          <div class="card card-info card-outline">
            <div class="card-header">
              <h5 class="card-title">Create Labels</h5>
              <div class="card-tools">
                <a href="#" class="btn btn-tool btn-link">#3</a>
                <a href="#" class="btn btn-tool">
                  <i class="fas fa-pen"></i>
                </a>
              </div>
            </div>
            <div class="card-body">
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" id="customCheckbox1" disabled>
                <label for="customCheckbox1" class="custom-control-label">Bug</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" id="customCheckbox2" disabled>
                <label for="customCheckbox2" class="custom-control-label">Feature</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" id="customCheckbox3" disabled>
                <label for="customCheckbox3" class="custom-control-label">Enhancement</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" id="customCheckbox4" disabled>
                <label for="customCheckbox4" class="custom-control-label">Documentation</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" id="customCheckbox5" disabled>
                <label for="customCheckbox5" class="custom-control-label">Examples</label>
              </div>
            </div>
          </div>
          <div class="card card-primary card-outline">
            <div class="card-header">
              <h5 class="card-title">Create Issue template</h5>
              <div class="card-tools">
                <a href="#" class="btn btn-tool btn-link">#4</a>
                <a href="#" class="btn btn-tool">
                  <i class="fas fa-pen"></i>
                </a>
              </div>
            </div>
            <div class="card-body">
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" id="customCheckbox1_1" disabled>
                <label for="customCheckbox1_1" class="custom-control-label">Bug Report</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" id="customCheckbox1_2" disabled>
                <label for="customCheckbox1_2" class="custom-control-label">Feature Request</label>
              </div>
            </div>
          </div>
          <div class="card card-primary card-outline">
            <div class="card-header">
              <h5 class="card-title">Create PR template</h5>
              <div class="card-tools">
                <a href="#" class="btn btn-tool btn-link">#6</a>
                <a href="#" class="btn btn-tool">
                  <i class="fas fa-pen"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="card card-light card-outline">
            <div class="card-header">
              <h5 class="card-title">Create Actions</h5>
              <div class="card-tools">
                <a href="#" class="btn btn-tool btn-link">#7</a>
                <a href="#" class="btn btn-tool">
                  <i class="fas fa-pen"></i>
                </a>
              </div>

            </div>
            <div class="card-body">
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                Aenean commodo ligula eget dolor. Aenean massa.
                Cum sociis natoque penatibus et magnis dis parturient montes,
                nascetur ridiculus mus.
              </p>
            </div>
          </div>-->
        </div>
        <div class="card-header header-footer-new">
          <!--data-toggle="modal" data-target="#modal-lista"-->
          <button class="btn btn-block btn-secondary btn-sm" (click)="openModal(1)" > Agregar Tarjeta</button>
        </div>
      </div>
      <div class="card card-row card-primary" style="height: 350px;">
        <div class="card-header">
          <h3 class="card-title">
            Hacer
          </h3>
        </div>
        <div class="card-body">
          @if(lista_hacer.length > 0) {
            @for(item of lista_hacer; track item.id) {
              
              <div class="card card-light card-outline">
                <div class="card-header">
                  <h5 class="card-title">{{item.title}}</h5>
                  <div class="card-tools">
                    <a href="#" class="btn btn-tool btn-link">#{{item.id}}</a>
                    <a href="#" class="btn btn-tool">
                      <i class="fas fa-pen"></i>
                    </a>
                  </div>
                </div>
                <div class="card-body">
                  <p>
                    {{item.subtitle}}
                  </p>
                </div>
              </div>
            }
          }
          <!--
          <div class="card card-primary card-outline">
            <div class="card-header">
              <h5 class="card-title">Create first milestone</h5>
              <div class="card-tools">
                <a href="#" class="btn btn-tool btn-link">#5</a>
                <a href="#" class="btn btn-tool">
                  <i class="fas fa-pen"></i>
                </a>
              </div>
            </div>
          </div>-->
        </div>
        <div class="card-header header-footer-new" >
          <!--id="openModal" data-toggle="modal" data-target="#modal-hacer"-->
          <button class="btn btn-block btn-primary btn-sm" (click)="openModal(2)"   > Agregar Tarjeta</button>
        </div>
      </div>
      <div class="card card-row card-default" style="height: 350px;">
        <div class="card-header bg-info">
          <h3 class="card-title">
            En Progreso
          </h3>
        </div>
        <div class="card-body">
          @if(lista_progreso.length > 0) {
            @for(item of lista_progreso; track item.id) {
              
              <div class="card card-light card-outline">
                <div class="card-header">
                  <h5 class="card-title">{{item.title}}</h5>
                  <div class="card-tools">
                    <a href="#" class="btn btn-tool btn-link">#{{item.id}}</a>
                    <a href="#" class="btn btn-tool">
                      <i class="fas fa-pen"></i>
                    </a>
                  </div>
                </div>
                <div class="card-body">
                  <p>
                    {{item.subtitle}}
                  </p>
                </div>
              </div>
            }
          }
          <!--
          <div class="card card-light card-outline">
            <div class="card-header">
              <h5 class="card-title">Update Readme</h5>
              <div class="card-tools">
                <a href="#" class="btn btn-tool btn-link">#2</a>
                <a href="#" class="btn btn-tool">
                  <i class="fas fa-pen"></i>
                </a>
              </div>
            </div>
            <div class="card-body">
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                Aenean commodo ligula eget dolor. Aenean massa.
                Cum sociis natoque penatibus et magnis dis parturient montes,
                nascetur ridiculus mus.
              </p>
            </div>
          </div>-->
        </div> <!--data-toggle="modal" data-target="#modal-progreso"-->
        <div class="card-header bg-info header-footer-new" >
          <button class="btn btn-block btn-info btn-sm" (click)="openModal(3)" > Agregar Tarjeta</button>
        </div>
      </div>
      <div class="card card-row card-success" style="height: 350px;">
        <div class="card-header">
          <h3 class="card-title">
            Terminado
          </h3>
        </div>
        <div class="card-body">
          @if(lista_terminado.length > 0) {
            @for(item of lista_terminado; track item.id) {
              
              <div class="card card-light card-outline">
                <div class="card-header">
                  <h5 class="card-title">{{item.title}}</h5>
                  <div class="card-tools">
                    <a href="#" class="btn btn-tool btn-link">#{{item.id}}</a>
                    <a href="#" class="btn btn-tool">
                      <i class="fas fa-pen"></i>
                    </a>
                  </div>
                </div>
                <div class="card-body">
                  <p>
                    {{item.subtitle}}
                  </p>
                </div>
              </div>
            }
          }
          <!--
          <div class="card card-primary card-outline">
            <div class="card-header">
              <h5 class="card-title">Create repo</h5>
              <div class="card-tools">
                <a href="#" class="btn btn-tool btn-link">#1</a>
                <a href="#" class="btn btn-tool">
                  <i class="fas fa-pen"></i>
                </a>
              </div>
            </div>
          </div>-->
        </div> <!--data-toggle="modal" data-target="#modal-terminado"-->
        <div class="card-header header-footer-new">
          <button class="btn btn-block btn-success btn-sm" (click)="openModal(4)" > Agregar Tarjeta</button>
        </div>
      </div>
    </div>
  </section>
</div>


<!-- /.modal -->

  <div class="modal fade" id="modal-lista" >
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <form [formGroup]="formulario_lista" (ngSubmit)="onSubmitLista()">
          <div class="modal-header">
            <h4 class="modal-title">Crear Tarea</h4> <!--data-dismiss="modal" aria-label="Close"-->
            <button type="button" class="close" (click)="closeModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <input type="hidden" id="category_id" formControlName="category_id" />
            <div class="input-group mb-3" >
              <input type="text" required id="title" formControlName="title" class="form-control" placeholder="Titulo">

            </div>


            <div class="input-group mb-3" >
              <textarea placeholder="Subtitulo"  required id="subtitle" formControlName="subtitle" class="form-control" > </textarea>

            </div>



          </div>
          <div class="modal-footer justify-content-between"> <!--data-dismiss="modal"-->
            <button type="button" class="btn btn-default" (click)="closeModal()">Cerrar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

<!-- /.modal -->


