<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper kanban">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <h1>Tareas</h1>
        </div>
        <div class="col-sm-6 d-none d-sm-block">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Tareas</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <section class="content pb-3">
    <div class="container-fluid h-100" >
      <div class="card card-row card-secondary" style="height: 350px;">
        <div class="card-header">
          <h3 class="card-title">
            Lista de Tareas
          </h3>
        </div>
        <div class="card-body">
          @if(lista_tareas.length > 0) {
            @for(item of lista_tareas; track item.id) {

              <div class="card card-light card-outline">
                <div class="card-header">
                  <h5 class="card-title">{{item.title}}</h5>
                  <div class="card-tools">
                    <a  (click)="editModal(item.id)" class="btn btn-tool btn-link">#{{item.id}}</a>
                    <a (click)="deleteTask(item.id)"  class="btn btn-tool">
                      <i class="fas fa-trash"></i>
                    </a>
                  </div>
                </div>
                <div class="card-body">
                  <p>
                    {{item.subtitle}}
                  </p>
                </div>
              </div>
            }
          }

        </div>
        <div class="card-header header-footer-new">
          <!--data-toggle="modal" data-target="#modal-lista"-->
          <button class="btn btn-block btn-secondary btn-sm" (click)="openModal(1)" > Agregar Tarjeta</button>
        </div>
      </div>
      <div class="card card-row card-primary" style="height: 350px;">
        <div class="card-header">
          <h3 class="card-title">
            Hacer
          </h3>
        </div>
        <div class="card-body">
          @if(lista_hacer.length > 0) {
            @for(item of lista_hacer; track item.id) {

              <div class="card card-light card-outline">
                <div class="card-header">
                  <h5 class="card-title">{{item.title}}</h5>
                  <div class="card-tools">
                    <a (click)="editModal(item.id)" class="btn btn-tool btn-link">#{{item.id}}</a>
                    <a (click)="deleteTask(item.id)" class="btn btn-tool">
                      <i class="fas fa-trash"></i>
                    </a>
                  </div>
                </div>
                <div class="card-body">
                  <p>
                    {{item.subtitle}}
                  </p>
                </div>
              </div>
            }
          }

        </div>
        <div class="card-header header-footer-new" >
          <!--id="openModal" data-toggle="modal" data-target="#modal-hacer"-->
          <button class="btn btn-block btn-primary btn-sm" (click)="openModal(2)"   > Agregar Tarjeta</button>
        </div>
      </div>
      <div class="card card-row card-default" style="height: 350px;">
        <div class="card-header bg-info">
          <h3 class="card-title">
            En Progreso
          </h3>
        </div>
        <div class="card-body">
          @if(lista_progreso.length > 0) {
            @for(item of lista_progreso; track item.id) {

              <div class="card card-light card-outline">
                <div class="card-header">
                  <h5 class="card-title">{{item.title}}</h5>
                  <div class="card-tools">
                    <a (click)="editModal(item.id)" class="btn btn-tool btn-link">#{{item.id}}</a>
                    <a (click)="deleteTask(item.id)" class="btn btn-tool">
                      <i class="fas fa-trash"></i>
                    </a>
                  </div>
                </div>
                <div class="card-body">
                  <p>
                    {{item.subtitle}}
                  </p>
                </div>
              </div>
            }
          }

        </div> <!--data-toggle="modal" data-target="#modal-progreso"-->
        <div class="card-header bg-info header-footer-new" >
          <button class="btn btn-block btn-info btn-sm" (click)="openModal(3)" > Agregar Tarjeta</button>
        </div>
      </div>
      <div class="card card-row card-success" style="height: 350px;">
        <div class="card-header">
          <h3 class="card-title">
            Terminado
          </h3>
        </div>
        <div class="card-body">
          @if(lista_terminado.length > 0) {
            @for(item of lista_terminado; track item.id) {

              <div class="card card-light card-outline">
                <div class="card-header">
                  <h5 class="card-title">{{item.title}}</h5>
                  <div class="card-tools">
                    <a (click)="editModal(item.id)" class="btn btn-tool btn-link">#{{item.id}}</a>
                    <a (click)="deleteTask(item.id)" class="btn btn-tool">
                      <i class="fas fa-trash"></i>
                    </a>
                  </div>
                </div>
                <div class="card-body">
                  <p>
                    {{item.subtitle}}
                  </p>
                </div>
              </div>
            }
          }

        </div> <!--data-toggle="modal" data-target="#modal-terminado"-->
        <div class="card-header header-footer-new">
          <button class="btn btn-block btn-success btn-sm" (click)="openModal(4)" > Agregar Tarjeta</button>
        </div>
      </div>
    </div>
  </section>
</div>


<!-- /.modal -->

  <div class="modal fade" id="modal-create" >
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <form [formGroup]="formulario_lista" (ngSubmit)="onSubmitLista()">
          <div class="modal-header">
            <h4 class="modal-title">Crear Tarea</h4> <!--data-dismiss="modal" aria-label="Close"-->
            <button type="button" class="close" (click)="closeModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <input type="hidden" id="category_id" formControlName="category_id" />
            <div class="mb-3" >
              <label for="exampleSelectBorder">Titulo</label>
              <input type="text" required id="title" formControlName="title" class="form-control" placeholder="Titulo">

            </div>


            <div class="mb-3" >
              <label for="exampleSelectBorder">Subtitulo</label>
              <textarea placeholder="Subtitulo"  required id="subtitle" formControlName="subtitle" class="form-control" > </textarea>

            </div>



          </div>
          <div class="modal-footer justify-content-between"> <!--data-dismiss="modal"-->
            <button type="button" class="btn btn-default" (click)="closeModal()">Cerrar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

<!-- /.modal -->

<!-- /.modal -->

<div class="modal fade" id="modal-edit" >
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <form [formGroup]="formulario_edit" (ngSubmit)="onSubmitEdit()">
        <div class="modal-header">
          <h4 class="modal-title">Editar Tarea</h4> <!--data-dismiss="modal" aria-label="Close"-->
          <button type="button" class="close" (click)="closeModalEdit()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="hidden" id="taskid" formControlName="Edit_taskid" />
          <div class="mb-3" >

              <label class="form-label">Titulo</label>
              <input type="text"  id="titleEdit" formControlName="Edit_title" class="form-control" placeholder="Titulo">


          </div>


          <div class=" mb-3" >


              <label class="form-label">Subtitulo</label>
              <textarea placeholder="Subtitulo"   id="subtitleEdit" formControlName="Edit_subtitle" class="form-control" > </textarea>


          </div>

          <div class="input-group mb-3" >
            <div class="form-group">
              <label for="exampleSelectBorder">Categoria</label>
              <select id="categoryEdit" formControlName="Edit_category_id" class="form-control select2"  [(ngModel)]="categoriaSeleccionada" >
                <option selected disabled>Seleccione una categoria</option>
                @for(item of lista_categoria; track item.id) {
                  <option [value]="item.id" >{{item.name}}</option>
                }
              </select>
            </div>

          </div>



        </div>
        <div class="modal-footer justify-content-between"> <!--data-dismiss="modal"-->
          <button type="button" class="btn btn-default" (click)="closeModalEdit()">Cerrar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!-- /.modal -->


