<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Tablero</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <button class="btn btn-primary" data-toggle="modal" data-target="#modal-xl">Crear Tablero</button>

          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="card card-success">
        <div class="card-body">
          <div class="row">
            @if (lista_tableros.length > 0) {
              @for (item of lista_tableros; track item.id) {
                <div class="col-md-12 col-lg-6 col-xl-4" style="padding-bottom: 20px;" >
                    <a href="#" (click)="irTareas(item.id) ; $event.preventDefault()" style="text-decoration: none;">
                      <div class="card mb-2 bg-gradient-dark">
                        <img class="card-img-top" src="/assets/dist/img/photo1.png" alt="Dist Photo 1">
                        <div class="card-img-overlay d-flex flex-column justify-content-end">
                          <h5 class="card-title text-primary text-white">{{ item.title }}</h5>
                          <p class="card-text text-white pb-2 pt-1">{{item.subtitle}}</p>
                          <a href="#" class="text-white">Last update 2 mins ago</a>
                        </div>
                      </div>
                    </a>
                      <div style="width: 100%;" >
                        <div style="width : 100% ;display: flex ;" >

                          <div style="width : 50%">

                            <a (click)="editTablero(item.id)" class="btn btn-primary " style="width:100%">Editar</a>
                          </div>
                          <div style="width : 50%">

                            <a href="#" class="btn btn-danger " style="width:100%">Eliminar</a>
                          </div>
                        </div>




                      </div>
                </div>

                } @empty {
                <li>There are no items.</li>
                }
            }
            @else {
              <div class="col-md-12 col-lg-6 col-xl-4">
                <div class="card mb-2 bg-gradient-dark">
                  <div class="card-body">
                    <p class="text-center text-white">No hay tableros creados</p>
                  </div>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>


<!-- /.modal -->

<div class="modal fade" id="modal-xl">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div class="modal-header">
          <h4 class="modal-title">Crear Tablero</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3" >
            <input type="text" required id="title" formControlName="title" class="form-control" placeholder="Titulo">

          </div>


          <div class="input-group mb-3" >
            <textarea placeholder="Subtitulo"  required id="subtitle" formControlName="subtitle" class="form-control" > </textarea>

          </div>
          <div class="input-group mb-3" >

            <label class="form-text">Escoja una imagen</label>
            <div class="row">
              <div class="col-sm-2">
                <a href="" data-toggle="lightbox" data-title="sample 1 - white" data-gallery="gallery">
                  <img src="/assets/dist/img/photo1.png" class="img-fluid mb-2" alt="white sample"/>
                </a>
              </div>
              <div class="col-sm-2">
                <a href="" data-toggle="lightbox" data-title="sample 1 - white" data-gallery="gallery">
                  <img src="/assets/dist/img/photo1.png" class="img-fluid mb-2" alt="white sample"/>
                </a>
              </div>
            </div>
          </div>

          <!-- <div class="input-group mb-3" >
            <input type="text" required  id="image" formControlName="image" class="form-control" placeholder="Ruta de la Imagen">

          </div> -->
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- /. Editar modal -->

<div class="modal fade" id="modal-edit">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <form [formGroup]="formularioEdit" (ngSubmit)="onSubmitEdit()">
        <div class="modal-header">
          <h4 class="modal-title">Editar Tablero</h4> <!--data-dismiss="modal" aria-label="Close"-->
          <button type="button" class="close" (click)="closeModal()" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="hidden" id="tableroid" formControlName="tableroid" class="form-control">
          <div class="input-group mb-3" >
            <input type="text" required id="Edittitle" formControlName="title" class="form-control" placeholder="Titulo">

          </div>


          <div class="input-group mb-3" >
            <textarea placeholder="Subtitulo"  required id="Editsubtitle" formControlName="subtitle" class="form-control" > </textarea>

          </div>


          <div class="input-group mb-3" >
            <input type="text" required  id="Editimage" formControlName="image" class="form-control" placeholder="Ruta de la Imagen">

          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" (click)="closeModal()">Cerrar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /. Editar modal -->
